@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Courier New', monospace;
    font-weight: 400;
    line-height: 1.25;
}

.header-title {
    @apply text-3xl font-bold;
}

.btn {
    @apply no-animation;
}

.text-btn {
    padding-top: 0.1rem;
}

.input:focus {
    @apply outline-none ring-0;
}
